In [3]:
import numpy as np 
vector=np.array(["1","2","5"])

In [4]:
type(vector)

numpy.ndarray

In [6]:
vector.dtype

dtype('<U1')

In [10]:
#astype()是一个转换类型的一个函数
vector=vector.astype(float)

In [8]:
vector

array([1., 2., 5.])

In [11]:
a=np.arange(12).reshape(3,4)

In [12]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [13]:
a.min()

0

In [14]:
#axis=1表示行，axis=表示列。
a.min(axis=1)

array([0, 4, 8])

In [15]:
a.max(axis=0)

array([ 8,  9, 10, 11])

In [19]:

print(help(np.array))

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, full, full_like

    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

None

SyntaxError: unexpected EOF while parsing (<ipython-input-23-5f942e9eec19>, line 1)

In [24]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [25]:
a.ndim

2

In [26]:
a.dtype.name

'int32'

In [27]:
#这个主要是a里面的数据是什么类型的,在创建一个数组的时候，可以指定数组数据的类型
a.dtype

dtype('int32')

In [29]:
#这个主要是这个数组是什么类型的，是整体意义上的。
type(a)

numpy.ndarray

In [31]:
b=np.ones(12)

In [32]:
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [33]:
b=np.ones((2,6))

In [34]:
b

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [35]:
b=np.ones((2,2,4),dtype=float)

In [36]:
b

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [37]:
c=np.zeros((5,6))

In [38]:
c

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [44]:
#a是一个3*4的一个二维数组，np.zeros_like(a)是根据a的一个行数和列数构建一个全是0的数组
c=np.zeros_like(a)

In [46]:
c

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [51]:
a=np.arange(12).reshape(3,4)
b=np.arange(12,24).reshape(3,4)

In [48]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [52]:
b

array([[12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [53]:
#对应位置相乘
a*b

array([[  0,  13,  28,  45],
       [ 64,  85, 108, 133],
       [160, 189, 220, 253]])

In [55]:
#表示a和b是矩阵的相乘，b.T表示b矩阵的转置
a.dot(b.T)

array([[ 86, 110, 134],
       [302, 390, 478],
       [518, 670, 822]])

In [58]:
a=np.floor(10*np.random.random((2,6)))

In [59]:
a

array([[3., 2., 3., 3., 2., 0.],
       [5., 0., 3., 4., 4., 0.]])

In [61]:
a.ravel()

array([3., 2., 3., 3., 2., 0., 5., 0., 3., 4., 4., 0.])

In [62]:
a

array([[3., 2., 3., 3., 2., 0.],
       [5., 0., 3., 4., 4., 0.]])

In [65]:
a=a.ravel()

In [66]:
a

array([3., 2., 3., 3., 2., 0., 5., 0., 3., 4., 4., 0.])

In [67]:
#这里的reshape（m,n）可以指定行数和列数，但是也可以不指定其中一个，不指定的那个为-1就可以。
a.reshape(4,-1)

array([[3., 2., 3.],
       [3., 2., 0.],
       [5., 0., 3.],
       [4., 4., 0.]])

In [68]:
print(id(a))

2187665153440

In [69]:
import pandas as pd
accid=pd.read_csv("Accidents0515.csv")

In [70]:
accid

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
5,200501BS00006,524770.0,181160.0,-0.203238,51.515540,1,3,2,1,11/01/2005,...,0,0,1,2,2,6,0,1,1,E01002832
6,200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,13/01/2005,...,0,0,4,1,1,0,0,1,1,E01002875
7,200501BS00009,525890.0,179710.0,-0.187623,51.502260,1,3,1,2,14/01/2005,...,0,0,1,1,1,0,0,1,1,E01002889
8,200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,15/01/2005,...,0,5,4,1,1,0,0,1,1,E01002900
9,200501BS00011,524550.0,180810.0,-0.206531,51.512443,1,3,2,5,15/01/2005,...,0,8,1,1,1,0,0,1,1,E01002875
10,200501BS00012,526240.0,178900.0,-0.182872,51.494902,1,3,1,1,16/01/2005,...,0,5,4,1,1,0,0,1,1,E01002835
11,200501BS00014,526170.0,177690.0,-0.184312,51.484044,1,3,2,1,25/01/2005,...,0,5,4,1,2,0,0,1,1,E01002912
12,200501BS00015,525590.0,178520.0,-0.192366,51.491632,1,3,1,1,11/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
13,200501BS00016,527990.0,178690.0,-0.157753,51.492622,1,3,2,1,18/01/2005,...,0,0,4,2,2,0,0,1,1,E01002902
14,200501BS00017,526700.0,178970.0,-0.176224,51.495429,1,3,1,2,18/01/2005,...,0,0,1,1,1,0,0,1,1,E01002821
15,200501BS00018,526460.0,177460.0,-0.180220,51.481912,1,3,1,1,18/01/2005,...,0,1,1,1,1,0,0,1,1,E01002840
16,200501BS00019,524680.0,179450.0,-0.205139,51.500191,1,2,2,1,20/01/2005,...,0,0,4,1,1,0,0,1,1,E01002864
17,200501BS00020,527000.0,179020.0,-0.171887,51.495811,1,3,2,1,21/01/2005,...,0,0,1,1,1,0,0,1,1,E01002821
18,200501BS00021,527810.0,178010.0,-0.160590,51.486552,1,3,2,1,21/01/2005,...,0,0,4,1,1,0,0,1,1,E01002901
19,200501BS00022,526790.0,178980.0,-0.174925,51.495498,1,2,1,1,08/01/2005,...,0,0,4,1,1,0,0,1,1,E01002821
20,200501BS00023,525940.0,178680.0,-0.187270,51.492992,1,3,1,1,24/01/2005,...,0,0,4,1,1,0,0,1,2,E01002839
21,200501BS00024,524700.0,180880.0,-0.204346,51.513039,1,3,2,1,24/01/2005,...,0,0,4,1,1,0,0,1,2,E01002882
22,200501BS00025,526930.0,177490.0,-0.173445,51.482076,1,3,2,1,24/01/2005,...,0,0,4,1,4,0,0,1,1,E01002840
23,200501BS00028,527290.0,178710.0,-0.167824,51.492960,1,3,2,1,18/01/2005,...,0,0,4,1,1,0,0,1,2,E01002858
24,200501BS00029,527380.0,179280.0,-0.166322,51.498062,1,3,2,1,29/01/2005,...,0,5,1,1,2,0,0,1,1,E01002819
25,200501BS00031,523930.0,180330.0,-0.215629,51.508265,1,3,1,1,19/01/2005,...,0,1,4,2,2,0,0,1,1,E01001944
26,200501BS00032,524470.0,180980.0,-0.207623,51.513988,1,3,2,1,30/01/2005,...,0,0,4,1,1,0,0,1,1,E01002874
27,200501BS00033,525570.0,178190.0,-0.192771,51.488671,1,3,2,2,29/01/2005,...,0,5,1,2,2,0,0,1,3,E01002849
28,200501BS70001,526240.0,178900.0,-0.182872,51.494902,1,3,2,1,01/02/2005,...,0,5,4,2,2,0,0,1,1,E01002835
29,200501BS70002,527780.0,179160.0,-0.160606,51.496893,1,3,2,1,02/02/2005,...,0,1,4,1,1,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780623,2015984126215,338953.0,576296.0,-2.957692,55.077345,98,3,3,2,17/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780624,2015984126815,317327.0,566149.0,-3.293388,54.983052,98,3,2,2,21/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780625,2015984126915,318128.0,575574.0,-3.283579,55.067857,98,3,2,3,24/08/2015,...,0,0,6,2,5,0,0,2,1,NaN
1780626,2015984127315,320333.0,567053.0,-3.246680,54.991664,98,3,2,1,17/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780627,2015984127515,319848.0,566515.0,-3.254108,54.986752,98,3,2,1,23/08/2015,...,0,0,1,1,1,0,0,2,2,NaN
1780628,2015984127615,338620.0,595149.0,-2.966998,55.246691,98,3,1,1,27/08/2015,...,0,0,1,2,2,0,0,2,1,NaN
1780629,2015984128215,327982.0,570650.0,-3.128065,55.025147,98,1,1,2,30/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780630,2015984128515,318980.0,575210.0,-3.270137,55.064727,98,2,1,1,04/09/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780631,2015984129115,309715.0,598908.0,-3.422724,55.276010,98,3,2,1,09/09/2015,...,0,0,6,1,1,0,0,2,1,NaN
1780632,2015984129715,330766.0,567430.0,-3.083745,54.996613,98,3,2,1,10/09/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780633,2015984130315,312312.0,605860.0,-3.384031,55.338930,98,3,2,1,27/09/2015,...,0,0,1,1,1,0,0,2,2,NaN
1780634,2015984130815,310460.0,604532.0,-3.412795,55.326666,98,2,1,1,03/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780635,2015984131215,328774.0,567001.0,-3.114769,54.992477,98,3,1,1,27/09/2015,...,0,0,6,1,1,0,0,2,1,NaN
1780636,2015984132215,320174.0,566497.0,-3.249009,54.986643,98,3,1,1,20/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780637,2015984132315,325193.0,568986.0,-3.171246,55.009785,98,3,2,2,23/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780638,2015984132815,315619.0,578498.0,-3.323723,55.093705,98,2,2,1,02/11/2015,...,0,0,1,1,1,0,0,2,1,NaN
1780639,2015984133015,319506.0,566586.0,-3.259471,54.987335,98,3,2,1,04/11/2015,...,0,4,4,1,2,0,0,2,1,NaN
1780640,2015984133115,308738.0,579979.0,-3.431983,55.105789,98,3,1,1,04/11/2015,...,0,0,6,1,2,0,0,2,1,NaN
1780641,2015984133815,314076.0,578925.0,-3.348023,55.097276,98,2,3,4,09/11/2015,...,0,0,1,2,2,0,0,2,1,NaN
1780642,2015984134815,310142.0,596869.0,-3.415353,55.257772,98,3,1,1,28/10/2015,...,0,0,6,1,1,0,7,2,1,NaN
1780643,2015984135815,338928.0,576364.0,-2.958098,55.077953,98,3,2,1,20/11/2015,...,0,0,6,2,2,0,0,2,1,NaN
1780644,2015984136815,324728.0,566339.0,-3.177818,54.985933,98,3,1,2,24/11/2015,...,0,0,4,1,2,0,0,2,1,NaN
1780645,2015984137515,327369.0,566993.0,-3.136722,54.992202,98,3,2,1,01/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
1780646,2015984137615,319301.0,566593.0,-3.262676,54.987365,98,3,2,1,02/12/2015,...,0,5,4,2,2,0,0,2,1,NaN
1780647,2015984139015,304440.0,580166.0,-3.499388,55.106659,98,3,1,1,13/12/2015,...,0,0,6,7,4,0,0,2,2,NaN
1780648,2015984139115,312087.0,570791.0,-3.376671,55.023855,98,3,3,1,11/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780649,2015984139715,320671.0,569791.0,-3.242159,55.016316,98,3,2,1,02/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780650,2015984140215,311731.0,586343.0,-3.387067,55.163502,98,2,1,4,23/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
1780651,2015984140515,328273.0,570137.0,-3.123385,55.020580,98,3,3,3,26/12/2015,...,0,0,1,2,2,0,0,2,1,NaN
1780652,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,0,0,6,3,4,0,0,2,1,NaN

In [71]:
print(accid.shape)

(1780653, 32)

In [73]:
print(accid.head(1))

  Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  Longitude  \
0  200501BS00001               525680.0                178240.0   -0.19117

    Latitude  Police_Force  Accident_Severity  Number_of_Vehicles  \
0  51.489096             1                  2                   1

   Number_of_Casualties        Date  ...  Pedestrian_Crossing-Human_Control  \
0                     1  04/01/2005  ...                                  0

  Pedestrian_Crossing-Physical_Facilities  Light_Conditions  \
0                                       1                 1

  Weather_Conditions  Road_Surface_Conditions  Special_Conditions_at_Site  \
0                  2                        2                           0

   Carriageway_Hazards  Urban_or_Rural_Area  \
0                    0                    1

   Did_Police_Officer_Attend_Scene_of_Accident  LSOA_of_Accident_Location
0                                            1                  E01002849

[1 rows x 32 columns]